# Virtual environment
.venv/
venv/

# Data (store files, keep folder structure)
data/*
!data/.gitkeep

# Generated project outputs
models/*
!models/.gitkeep
artifacts/*
!artifacts/.gitkeep
logs/*
!logs/.gitkeep
reports/figures/*
!reports/figures/.gitkeep

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Local scratch notebooks
notebooks/cnn-regressor-test.ipynb

# Used for training with external GPU
notebooks/training_control.ipynb

# OS filer
.DS_Store
Thumbs.db

# JetBrains project settings
.idea/
